body{
    background-color: black;
    font-family: Verdana;
}

header{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.bigp{
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    color: white;
}

a{
    color: aquamarine;
    font-size: 16px;
    text-align: center;
}

.containervid{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

video{
    pointer-events: none;
}

.travelguide{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bigpp{
    font-weight: 300;
    font-size: 42px;
    text-align: center;
    color: white;
    margin: 1px;
}

.smallp{
    font-size: 21px;
    color: rgb(128, 128, 128);
    margin-top: -20px;
}

.phone-wrapper{
    display: flex;
    margin-top: 40px;
}

footer{
    text-align: right;
    color: rgb(128, 128, 128);
}